/*general styling*/

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
  	background-color: #F5F5F5;
}

ul {
	padding-left: 5px;
}

li {
	list-style: none;
}

li.active a {
	font-weight: 600;
	opacity: 1;
}

a:hover, a:active {
	text-decoration: none;
}

.center { 
	margin: 0 auto; 
}

.content{ 
	margin: 0 auto; 
	width: 960px; 
}

.clear { 
	clear: both; 
}

nav {
	height: 56px !important;
	line-height: 54px;
}

nav .nav-wrapper i {
	line-height: 54px;
}

#logo{
	height: 36px;
	margin-top: 5px;
}

.navbar-fixed {
	height: 56px;
}

.logo-align {
	margin-top: 5px;
}

@media screen and (min-width: 601px) and (max-width: 992px) {
	nav .brand-logo {
		left: 0% !important;
		transform: translateX(0%) !important;
	}  
}

.new-event {
	background-color: #ff9800;
	height: 56px;
}
.new-event:hover {
	background-color: #ffb74d;
}

.newevent-icon {
	color: #ffffff;
	margin-right: 0 !important;
	font-size: 22px !important;
}
.newevent-text {
	color: #ffffff;
	font-weight: 700;
	font-size: 12px !important;
}
.newevent-padding-mobile {
	padding: 0 15px;
	width: 54px;
}

.search-outer {
	width: 50%;
	left: 50%;
	transform: translateX(-50%)
}
.search-icon {
	color: #212121 !important;
	margin-left: 10px;
	font-size: 22px !important;
}

input[type="text"]#search {
	padding-top: 6px;
	padding-bottom: 7px;
	padding-left: 40px !important;
	color: #212121;
	border: 1px solid #ffffff !important;
	border-radius: 4px;
    background-color: #ffffff;
	font-weight: 400;
	font-size: 16px !important;
	width: calc(100% - 42px);
}

::-webkit-input-placeholder { 
	color: #212121; 
}
:-moz-placeholder { 
	color: #212121; 
}
::-moz-placeholder { 
	color: #212121; 
}
:-ms-input-placeholder { 
	color: #212121; 
}

.searchbar-mobile {
	background-color: #ff9800;
	width: 100%;
	height: 50px;
}

.searchbar-mobile-offset {
	height: 50px;
	width: 100%;
	background-color: transparent;
}

.searchbar-mobile-size {
	width: 90%;
	margin: 0px auto;
}

/*styling container*/

#main-container {
	position: relative;
	padding-top: 0px;
  	color: black;
}

#content {
	margin-bottom: 50px;
}

.left-sidebar {
	text-align: center;
}

.left-sidebar h4 {
	font-size: 2.50rem;
	margin-top: 0px;
}

.card, .favorite-container a {
	margin-top: 0px;

	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.card:hover {

	-webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  	-moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);


  	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;

}

.cards {
	text-align: left;
}

.section {
	margin-top: 20px;
}

.section row {
	margin-bottom: 0px;
}

.search-timeline {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

/*styling date*/

.date-content {
	/*height: 300px;*/
	width: 90%;
}

.cal {
	color: #212121;
	font-weight: 500;
	background-color: transparent;
	border-radius: 30px;
	/*color: #ff9800;*/
}

.cal-day {
	margin: auto;
	padding-bottom: 10px;
	font-size: 20px;
}

.cal-date {
	background-image: url("../image/calendar.png");
	background-position: center top;
	background-repeat: no-repeat;
	padding: 14px;
	font-size: 36px; 
	font-weight: 700;
	margin: auto;
	color:#ff9800;
}

.cal-month {
	margin: auto;
	font-size: 20px;
}

/*styling card*/

.section {
	padding-bottom: 0 !important;
}

.card h1 {
	font-style: bold;
	font-size: 35px;
	margin: 0px;
	padding: 0px;
}

.card {
  	border: 1px solid black;
  	border: 2px;
  	background: #fff;

  	margin-bottom: 50px;
}

/* REDUCE CARD SIZE */
.card.small {
	height: 150px !important;
}

.card.small .card-image {
	height: 0px !important;
}

.category-title {
	position: absolute;
	padding-left: 20px;
	padding-top: 10px;/*75*/
	padding-right: 16px;
	color: #ffffff;
	z-index: 999;
	font-size: 54px;
	font-weight: 700;
	text-overflow: ellipsis;
	height: 100%;
	white-space: nowrap;
	width: calc(100%);
	overflow-x: hidden;
	overflow-y: hidden;

	left: 0%;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .resize-on-medium { font-size: 44px; padding-top: 10px; /*90*/ }  
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .resize-on-xs { font-size: 26px; padding-top: 40px; /*94*/}  
}

.text-overflow {
	text-overflow: ellipsis;
}

#contain {
	position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdi-action-grade:hover {
	-webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;

    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

}

@media screen and (min-width: 0px) and (max-width: 860px) {
	.card-date { font-size: 10px !important; } 
	.card-category  { font-size: 10px !important; }
}

@media screen and (min-width: 0px) and (max-width: 670px) {
	.card-date { 
		font-size: 10px !important; 
		white-space: normal !important;
	} 
	.card-category  { font-size: 10px !important; }  
	.card-title { font-size: 16px !important; }
	.card-summary { font-size: 12px !important; }
	.card-venue { font-size: 12px !important; }
}

.mdi-navigation-close {
	font-size: 28px !important;
	cursor: pointer; cursor: hand !important;
}

.mdi-navigation-more-vert {
	font-size: 20px !important;
}

.mdi-navigation-more-vert:hover {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
}
/*
::-webkit-scrollbar
{
	width: 6px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ff6e40;
}
*/
.activator:hover {
	cursor: pointer; cursor: hand;
}

.organizer {
	margin: 0 !important;
	width: calc(100%);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.datetime {
	margin: 0 !important;
	width: calc(100%);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.venue {
	margin: 0 !important;
	width: calc(100%);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.organizer p, .datetime p, .venue p{
	display: inline;
}

.organizer {
	color: #212121 !important;
}

.organizer i, .venue i, .datetime i, .contact i {
	width: 20px !important;
	text-align: center;
}
.showicon {
	width: 20px;
	float:left;
}

.inline {
	display: inline;
}

.favorite-container {
	padding-right:0px;
}

.favorite {
	margin-top: 15px !important;
}

.calendar {
	background-image: url("../image/calendar.png");
	width: 64px;
	height: 64px;
}

.calendar-day {
	position: relative;
	top: 25px;
	color: #ffab40;
	font-size: 25px;
}

.card-content { 
	width: 100%;
	padding: 10px 20px 20px 40px !important;
	pointer-events: none;
}

.single-card .card-content {
	padding-top: 25px !important;
  	padding-left: 20px !important;
  	padding-right: 20px !important;
}

.single-card .row {
  	margin-bottom: 10px !important;
}

.single-card .description {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
}

.single-card .contact .row {
	margin-bottom: 0px !important;
}

.single-card .contact p {
	margin-top: 5px;
	margin-bottom: 0px;
}

.single-card .social-media {
	margin-right: 20px;
}

.single-card .venue-text {
	display: inline;
}

.card .card-reveal{
	padding-left: 5%;
	padding-right: 5%;
}

.card-reveal {
	display: none; 
	transform: translateY(0px);
}

.card .card-content .card-title  {
	line-height: 30px;
}

.card-content .row {
	margin-bottom: 0px;
}

.card-title {
	color: #424242 !important;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 700 !important;
	margin-bottom: 5px;
	width: calc(100%);
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.card-category {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700 !important;
	padding-bottom: 0px !important;
}

.card-date {
	position: relative;
	float: right;
	font-size: 14px;	
	font-weight: 700 !important;
	text-transform: uppercase;
	color: #757575;

	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
  	padding-bottom: 0px !important;
}


.card-summary {
	font-size: 14px;
	font-weight: 600px;
	width: 100%;
	color: #616161;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.card-venue {
	color: #757575 !important;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700 !important;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.card-left-column {
	position: relative;
	float: left; 
	height: 45%;
	width: 20px; 
	margin-left: 5px;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.card-left-column:hover {
	height: 100%;
}

.card-left-column.active {
	height: 100%;
}

.position-star {
	top: 50%; 
	transform: translateY(-50%); 
	padding: 10px;
}

.card-title-inner {
	font-size: 16px !important;
	font-weight: 500 !important;
}

.single-card .description {
	border-top: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}

.single-card .socialmed {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
}
.single-card .contact-icon {
	margin-left: 0px;
}

.description {
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 25px;
	padding-left: 40px;
	padding-right: 40px;
}

.collapsible-body p {
	padding: 0px;
}

.description p {
	margin: 0 auto;
}


.information {
	padding-top: 12px;
	margin-top: 2px;
	font-size: 14px !important;
	font-weight: 400;
}

.organizer {
	color: #212121 !important;
	font-size: 14px;
	font-weight: 400;
}

.card-body {
	margin-top: 20px;
	font-size: 17px;
}

.description {
	font-size: 13px;
}

.card-footer p{
	display: inline;
	margin-left: 5px;
	margin-bottom: 2%;
}

.no-events {
	text-align: center;
	font-size: 36px;
	margin-top: 40px;
	color: #757575;
	font-weight: 700;
}

.card-footer p a {
	margin-right: 5%;
	box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
	margin-right: 1%;
	margin-bottom: 2%;
}

.description img {
	padding: 20px;
	width: 300px;
	/*
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #bdbdbd;
	border-radius: 5px;*/

	border: 0px;
	border-radius: 30px;
}

.description ul {
	margin-left: 30px;
	margin-right: 30px;
}

.email li:nth-child(n+2) {
	margin-left: 25px;
}

/*styling sidebar*/

.side-bar {
    position: fixed;
    width: 100%; 
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #e0e0e0;
}

.side-content {
    color: #212121;
    font-weight: 400;
    font-size: 14px;
    margin-left: 0px;
}

.browse-events {
    margin: 32px 0px;
    padding: 20px;
    color: #000000;
    background-color: #ffcc80;
    font-weight: 600;
    font-size: 16px;
    padding-left: 26px;
}

.browse-date {
    padding: 1px 20px !important;
    border-left: 3px solid transparent;
}
.browse-date:hover {
    /*background-color: #fff3e0;*/
    border-left: 3px solid #ffcc80;
    color: #000000;
}

a.date {
    color: #000000;
    text-decoration: none;
}

a.active .browse-date {
    border-left: 3px solid #ff9800;
}

/*styling modals*/
#modal-newevent {
	max-height: 100%;
}

.modal.modal-fixed-footer {
	max-height: 94% !important;
	height: 94% !important;
	margin-top: -35px !important;
}

.modal-content {
	padding-bottom: 15px !important;
}

.closeSign {
	font-size: 30px;
}

.errorTime {
	margin-left: 55px;
}

.button-container {
	margin-top: 10px;
	margin-bottom: 20px;
}

select.browser-default {
  display: block;
  margin-bottom: 15px;
}

.errorText {
	margin-left: 42px;
}

.picker__frame {
	position: absolute !important;
	top: 5px !important;
}

.disclaimer {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 0px;
}

.toast {
    width:200px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #ffb74d;
    color: #F0F0F0;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

/*styling loader*/
.loading {
	margin: 0 auto;
	margin-top: 200px;
}

/*accordion*/

.collapsible-header {
	height: 150px !important;
	padding: 0px !important;
	line-height: 30px !important;
	z-index:999;
}

.mdi-action-room {
	margin-right:0 !important;
}

.venue-text {
	margin-top: 7px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.event-source-outer {
	float: right;
	margin-top: 7px;
}

.event-source-styling {
	float: left; 
	padding: 0 10px; 
	color: #ffffff; 
	background-color: #bdbdbd; 
	border-radius: 3px; 
	height: 16px; 
	margin-top: 7px;
}

.event-source-text {
	margin-top: -7px; 
	font-size: 14px; 
	font-weight: 700;
}

.collapsible-body {
	background-color: #ffffff !important;
	font-size: 13px !important;
}

a {
	color: #ff8f00;
}

.collapsible-body img {
	width: 80%;
	height: auto;
	display: block;
	margin: auto;
}

.icon-width {
	width: 20px;
}

.organizer {

}

.contact {
	margin-left: 25px;
	color: #424242;
	font-size: 20px !important;
}

.organizer-icon {
	font-size: 22px !important;
	margin-right: 5px;
}

.organizer-text {
	position: relative;
	font-size : 14px;
	font-weight: 600;
	display: inline !important;
	font-family: 'Open Sans', sans-serif !important;
}

.contact-icon {
	font-size: 20px !important;
	margin-right: 2px;
}

.contact-text {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	display: inline !important;
	font-family: 'Open Sans', sans-serif !important;
	/*width: calc(400px);*/
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
}

.socialmed {
	float: right; 
	margin-top: 25px;
	margin-right: 15px;
}
.social-icons {
	margin-right: 15px;
	border-radius: 2px !important;
	margin-bottom: 10px;
}

.contact-footer {
	border-top: 1px solid #e5e5e5;
	background-color: #fafafa;
	padding-bottom: 10px;
	margin-bottom: 0 !important; 
}

.collapsible {
	margin: 0 0 30px 0 !important; 
	-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.collapsible:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.bookmark {
	color: #ffffff; 
	font-size: 48px !important; 
	margin-left: -14px; 
	/*margin-top: 41px;*/ /*124*/
	position: absolute;
	bottom: 0;
	margin-bottom: -20px;
}