/*general styling*/

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Roboto";
  	background-color: #F5F5F5;
}

ul {
	padding-left: 5px;
}

li {
	list-style: none;
}

li.active, li.active:focus {
	border-left: 3px solid orange;
	opacity: 1;
}

li.active a {
	font-weight: 600;
	opacity: 1;
}

a:hover, a:active {
	text-decoration: none;
}

.center { 
	margin: 0 auto; 
}

.content{ 
	margin: 0 auto; 
	width: 960px; 
}

.clear { 
	clear: both; 
}

/*navigation bar*/

ul li {
	height: 56px;
}

nav {
	height: 56px !important;
	line-height: 54px;
}

nav .nav-wrapper i {
	line-height: 54px;
}

#logo{
	height: 36px;
	margin-top: 5px;
}

.navbar-fixed {
	height: 56px;
}

.logo-align {
	margin-top: 5px;
}

@media screen and (min-width: 601px) and (max-width: 992px) {
	nav .brand-logo {
		left: 0% !important;
		transform: translateX(0%) !important;
	}  
}

.new-event {
	background-color: #ff9800;
	height: 56px;
}
.new-event:hover {
	background-color: #ffb74d;
}

.newevent-icon {
	color: #ffffff;
	margin-right: 0 !important;
	font-size: 22px !important;
}
.newevent-text {
	color: #ffffff;
	font-weight: 700;
	font-size: 12px !important;
}
.newevent-padding-mobile {
	padding: 0 15px;
	width: 54px;
}

.search-outer {
	width: 50%;
	left: 50%;
	transform: translateX(-50%)
}
.search-icon {
	color: #212121 !important;
	margin-left: 10px;
	font-size: 22px !important;
}

input[type="text"]#search {
	padding-top: 6px;
	padding-bottom: 7px;
	padding-left: 40px !important;
	color: #212121;
	border: 1px solid #ffffff !important;
	border-radius: 4px;
    background-color: #ffffff;
	font-weight: 400;
	font-size: 16px !important;
	width: calc(100% - 42px);
}

::-webkit-input-placeholder { 
	color: #212121; 
}
:-moz-placeholder { 
	color: #212121; 
}
::-moz-placeholder { 
	color: #212121; 
}
:-ms-input-placeholder { 
	color: #212121; 
}

.searchbar-mobile {
	background-color: #ff9800;
	width: 100%;
	height: 50px;
}

.searchbar-mobile-offset {
	height: 50px;
	width: 100%;
	background-color: transparent;
}

.searchbar-mobile-size {
	width: 90%;
	margin: 0px auto;
}

/*styling container*/

#main-container {
	position: relative;
	padding-top: 0px;
  	color: black;
}

#content {
	margin-bottom: 50px;
}

.left-sidebar {
	text-align: center;
}

.left-sidebar h4 {
	font-size: 2.50rem;
	margin-top: 0px;
}

.card, .favorite-container a {
	margin-top: 0px;
	-webkit-box-shadow: 0 0px 0px 0;
	-moz-box-shadow: 0 0px 0px 0;

  	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.card:hover {

	-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  	-moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


  	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.cards {
	text-align: left;
}

.section {
	margin-top: 20px;
}

.section-category {
	margin-bottom: 20px;
}

/*styling date*/

.date-content {
	height: 300px;
	width: 90%;
}

.cal {
	color: #212121;
	font-weight: 500;
	background-color: transparent;
	border-radius: 30px;
	/*color: #ff9800;*/
}

.cal-day {
	margin: auto;
	padding-bottom: 10px;
	font-size: 20px;
}

.cal-date {
	background-image: url("../image/calendar.png");
	background-position: center top;
	background-repeat: no-repeat;
	padding: 14px;
	font-size: 36px; 
	font-weight: 700;
	margin: auto;
	color:#ff9800;
}

.cal-month {
	margin: auto;
	font-size: 20px;
}

/*styling card*/

.card h1 {
	font-style: bold;
	font-size: 35px;
	margin: 0px;
	padding: 0px;
}

.card {
  	border: 1px solid black;
  	border: 2px;
  	background: #fff;

  	margin-bottom: 60px;
}
/*
.card .card-title {
	color: black;
}
*/
.card .card-content {
	padding: 10px;
}

.card-image img{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.category-title {
	position: absolute;
	margin-left: 20px;
	padding-top: 75px;
	padding-right: 16px;
	color: #ffffff;
	z-index: 999;
	font-size: 54px;
	font-weight: 700;
	text-overflow: ellipsis;
	height: 100%;
	white-space: nowrap;
	width: calc(100% - 20px);
	overflow-x: hidden;
	overflow-y: hidden;

	left: 0%;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.category-title:hover {
	padding-top: 5px;
	white-space: normal;
}

.text-overflow {
	text-overflow: ellipsis;
}

.event-card-title {
	max-height: 48px;
}

.favorite:hover {
	/*background-color: #ffc107 !important;
	opacity: 0.9;*/
}

#contain {
	position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdi-action-grade:hover {
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

@media screen and (min-width: 0px) and (max-width: 850px) {
  .organizer-title { font-size: 13px !important; }
  .datetime { font-size: 13px !important; }
  .venue { font-size: 13px !important; }  
}

@media screen and (min-width: 0px) and (max-width: 650px) {
  .organizer-title { font-size: 11px !important; }
  .datetime { font-size: 11px !important; }
  .venue { font-size: 11px !important; }  
}

.mdi-navigation-close {
	font-size: 28px !important;
}

.mdi-navigation-more-vert {
	font-size: 20px !important;
}

.mdi-navigation-more-vert:hover {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ff6e40;
}

.activator:hover {
	cursor: pointer; cursor: hand;
}

.organizer {
margin: 0 !important;
}
.datetime {
margin: 0 !important;
}
.venue {
margin: 0 !important;
}
@media screen and (min-width: 0px) and (max-width: 750px) {
  .resize-on-medium { font-size: 44px; padding-top: 90px; }  
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .resize-on-xs { font-size: 36px; padding-top: 94px; }  
}

.organizer p, .datetime p, .venue p{
	display: inline;
}

.organizer{
	color: #212121 !important;
}

.organizer i, .venue i, .datetime i, .contact i {
	width: 20px !important;
	/*font-size: 16px !important;*/
	text-align: center;
}
.showicon {
	width: 20px;
	float:left;
}

.inline {
	display: inline;
}

.favorite-container {
	padding-right:0px;
}

.favorite {
	margin-top: 15px !important;
}

.calendar {
	background-image: url("../image/calendar.png");
	width: 64px;
	height: 64px;
}

.calendar-day {
	position: relative;
	top: 25px;
	color: #ffab40;
	font-size: 25px;
}

.card-content {
	margin-left: 20px;
}

.card-content .col {
	padding-left: 0px;
}

.card .card-reveal{
	padding-left: 5%;
	padding-right: 5%;
}

.card-reveal {
	display: none; 
	transform: translateY(0px);
}

.card-title {
	margin-bottom: 5px;
	font-size: 14px !important;
	text-transform: uppercase;
	font-weight: 400 !important;
}

.card-title i {
	margin-right: 3%;
}

.card-title .col {
	padding: 0px;
}

.description {
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}

.description p {
	margin: 0 auto;
}

.contact {
	margin-top: 10px;
}

.information {
	margin-top: 2px;
	font-size: 14px;
	font-weight: 400;
}

.organizer {
	color: #212121 !important;
	font-size: 14px;
	font-weight: 400;
}

.card-body {
	margin-top: 20px;
	font-size: 17px;
}

.description {
	font-size: 15px;
}

.social-media {
	font-size: 17px;
}

.social-media .social-media-btns {
	margin-left: 10px;
}

.card-footer p{
	display: inline;
	margin-left: 5px;
	margin-bottom: 2%;
}

.no-events {
	text-align: center;
	font-size: 45px;
	margin-top: 40px;
	color: #666;
}

.card-footer p a {
	margin-right: 5%;
	box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
	margin-right: 1%;
	margin-bottom: 2%;
}

.description img {
	padding: 5px;
	width: 300px;
	height: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
}

.contact {
	font-size: 14px;
}

.contact i {
	margin-right: 5px;
}

.contact ul, .contact i, .contact p, .contact li:first-child{
	display: inline;
}

.email li:nth-child(n+2) {
	margin-left: 25px;
}

/*styling sidebar*/

.side-bar {
    position: fixed;
    width: 100%; 
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #e0e0e0;
}

.side-content {
    color: #212121;
    font-weight: 400;
    font-size: 14px;
    margin-left: 0px;
}

.browse-events {
    margin: 20px 0px;
    padding: 20px;
    color: #000000;
    background-color: #ffcc80;
    font-weight: 500;
    font-size: 16px;
    padding-left: 26px;
}

.browse-date {
    padding: 1px 20px !important;
    border-left: 3px solid transparent;
}
.browse-date:hover {
    /*background-color: #fff3e0;*/
    border-left: 3px solid #ffcc80;
    color: #000000;
}

a.date {
    color: #000000;
    text-decoration: none;
}

a.active .browse-date {
    border-left: 3px solid #ff9800;
}

/*styling modals*/
#modal-newevent {
	max-height: 100%;
}

.modal.modal-fixed-footer {
	max-height: 94% !important;
	height: 94% !important;
	margin-top: -35px !important;
}

.modal-content {
	padding-bottom: 15px !important;
}

.closeSign {
	font-size: 30px;
}

.errorTime {
	margin-left: 55px;
}

.button-container {
	margin-top: 10px;
	margin-bottom: 20px;
}

select.browser-default {
  display: block;
  margin-bottom: 15px;
}

.errorText {
	margin-left: 42px;
}

.picker__frame {
	position: absolute !important;
	top: 5px !important;
}

.disclaimer {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 0px;
}

.toast {
    width:200px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #ffb74d;
    color: #F0F0F0;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

/*styling loader*/
.loading {
	margin: 0 auto;
	margin-top: 200px;
}
