<!-- Event Table -->
<div id="tableofevents" ng-controller="tableController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Events </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
        <div class="dataTable_wrapper">
            <table class="table table-bordered table-hover table-condensed" datatable="ng">
                <thead>
                    <tr>
                        <th style='width:8%'>ID</th>
                        <th style='width:10%'>Title</th>
                        <th style='width:13%'>Description</th>
                        <th style='width:11%'>Category</th>
                        <th style='width:9%'>Date</th>
                        <th style='width:9%'>Venue</th>
                        <th style='width:9%'>Price</th>
                        <th style='width:10%'>Agenda</th>
                        <th style='width:11%'>Organizer</th>
                        <th>Contacts</th>
                    </tr>
                </thead>
                <tbody id="tableData">
                    <tr ng-repeat="event in eventList" ng-click="eventform(event)" ng-class="{danger: (event.Flag == 1)}">
                        <td><div>{{event.ID}}</div></td>
                        <td><div>{{event.Title}}</div></td>
                        <td><div>{{event.Description}}</div></td>
                        <td><div>{{event.Category}}</div></td>
                        <td><div>{{event.DateAndTime}}</div></td>
                        <td><div>{{event.Venue}}</div></td>
                        <td><div>{{event.Price}}</div></td>
                        <td><div>{{event.Agenda}}</div></td>
                        <td><div>{{event.Organizer}}</div></td>
                        <td><div>{{event.Contact}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>  
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Event Table -->